

<div class="wrapper">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form_container">
    <div class="signin_header">
      <h2>新年，鲜肉，幸福的家庭</h2>
      <h2> Join us to unlock a relaxing Chinese New Year</h2>
    </div>
    <div class="form_fields">
      <span class="email"><%= f.input :email, required: true, placeholder: "Email", label: false %></span>
      <span class="password"><%= f.input :password, required: true, placeholder: "Password must be #{@minimum_password_length} characters min", label: false %></span>
      <span class="password"><%= f.input :password_confirmation, required: true, label: false %></span>
    </div>
    <div class="button">
      <%= f.button :submit, "Sign up" %>
    </div>
    <div class="login_links">
      <br>
      <span><%= link_to "Already have a login?", new_meater_session_path %></span>
    </div>
  </div>
</div>
<% end %>


 <!-- hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) -->
