
<div class="become-meat-form">
  <%= simple_form_for(@meat) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="meats_form">
          <div class="photo_upload">
            <span><p><strong>Photo: </strong></p></span>
            <span><%= f.input :photo, label: false %></span>
            </div>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.input :display_name, label: false, placeholder: "Display Name" %>
            <%= f.input :gender, label: false, placeholder: "Gender" %>
            <%= f.input :location, label: false, placeholder: "City" %>
            <%= f.input :price, label: false, placeholder: "RMB per hour" %>
          </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="meats_form">
            <%= f.input :height, label: false, placeholder: "Height in cm" %>
            <%= f.input :weight, label: false, placeholder: "Weight in kilos" %>
            <%= f.input :education, label: false, placeholder: "Education" %>
            <%= f.input :occupation, label: false, placeholder: "Occupation" %>
            <%= f.input :hobbies, label: false, placeholder: "What are your hobbies?" %>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="meats_form">

            <%= f.input :summary, label: false, placeholder: "Self-Summary" %>
            <%= f.input :description, label: false, placeholder: "Tell us more about yourself." %>
            <div class="button">
                <%= f.button :submit, "Become Meat", class: "btn" %>
                <% end %>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
