
<div class="become-meat-form">
  <%= simple_form_for(@meat) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm col-md-4">
        <div class="meats_form">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.input :display_name %>
            <%= f.input :gender %>
            <%= f.input :location %>
            <%= f.input :price, label: "RMB per hour" %>
          </div>

      </div>
      <div class="col-xs-12 col-sm col-md-4">
        <div class="meats_form">
            <%= f.input :height %>
            <%= f.input :weight %>
            <%= f.input :education %>
            <%= f.input :occupation %>
            <%= f.input :hobbies %>
        </div>

      </div>
      <div class="col-xs-12 col-sm col-md-4">
          <div class="meats-form-fields">

            <%= f.input :summary, label: "We know it's hard, but sum up who you are in a couple of sentences."%>
            <%= f.input :description, label: "Here's your chance to add a bit more depth to your profile." %>
          </div>
        </div>

          <div class="row">
            <div class="col-xs-12 col-sm col-md-4">
              <div class="button">
                <%= f.button :submit, "Become Meat", class: "btn" %>
                <% end %>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
