<div class="signin_wrapper">
  <div class="form_container">

    <div class="signin_header">
      <h2>欢迎你回来! Welcome Back!</h2>
<!--       <%= image_tag "logo_chinese-04.png" %> -->
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form_fields">
      <span class="email">
        <%= f.input :email, required: true, label: false, placeholder: "Email" %>
      </span>
      <span class="password">
        <%= f.input :password, required: true, label: false, placeholder: "Password" %>
      </span>
    </div>


    <div class="button">
      <span><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </span>
      <%= f.button :submit, "Log in" %>
    </div>
    <div class = "login_links">
      <br>
      <span><%= link_to "Don't have a login? Sign Up!", new_meater_registration_path %></span>
      <br>
      <span><%= link_to "Log in with Facebook", meater_facebook_omniauth_authorize_path %></span>
      <br>
      <span><%= link_to "Forgot your password?", new_meater_password_path %></span>
    </div>
    <% end %>
  </div>
</div>
