
<div class="card">
  <%= link_to meat_path(meat) do %>
  <div class="card__image">
    <%= cl_image_tag meat.photo, transformation: { crop: :fit,  gravity: :face } %>
  </div>
  <% end %>
  <div class="card__content">
    <div class="card_header">
      <span class="card__title">
        <%= meat.display_name %>
      </span>
      <span class = "location_price">
        <span><i class="fa fa-map-marker" aria-hidden="true"></i> <%= meat.location%></span>
        <span><i class="fa fa-money" aria-hidden="true"></i> <%= meat.price %> per hour</span>
      </span>
    </div>
    <div class="card__text">
      <div class="card__summary"><%= meat.summary %></div>
    </div>
    <button class="btn-card btn--block card__btn">点肉</button>
  </div>
</div>


