
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'banner_happy_chinese.jpg' %>')">
  <div class="container">
    <div class = "banner_text">
      <h1> Make Mom & Pop Happy</h1>
      <h4> Come home for Chinese New Year with a prime placeholder husband or wife.</h4>
    </div>
  </div>
</div>

<% @meats.each do |meat| %>
<div class="col-xs-12 col-sm-4 col-xl-2">
    <div class="card">
      <div class="card__image">
     <%= cl_image_tag meat.photo, max_width: 400, min_width: 300, crop: :fill %>
      </div>
      <div class="card__content">
        <div class="card__title">
          <%= meat.display_name %>
        </div>
        <div class="card__text">
          <div><%= meat.summary %></div>
          <hr>
          <div class = "location_price">
            <span><i class="fa fa-map-marker" aria-hidden="true"></i> <%= meat.location%></span>
            <span><i class="fa fa-money" aria-hidden="true"></i> <%= meat.price %> per hour</span>
          </div>
        </div>
        <button class="btn btn--block card__btn">Book This Meat!</button>
      </div>
    </div>
  <% end %>
</div>
