<body>

  <!--- - - - - Main Profile Container  -->

  <div class="main-profile">
    <span class="main-profile">
      <div id="image">
        <img src="<%= @meat.photo %>">
      </div>


    <!--- - - - - Summary  -->
    <div class="profile-content">

      <div class="display">
        <div class="display-name">
          <h1> <%= @meat.display_name %> </h1>
        </div>
        <div class="profile-text">
          <p>  <%= @meat.gender %> <%= @meat.age %> </p>
          <p> <%= @meat.location %> <%= @meat.price %> RMB </p>
          <h3> Summary </h3>
          <p> <%= @meat.summary %> </p>
        </div>
        <%= link_to "Book", new_meat_booking_path(@meat), class: 'btn btn-danger btn-lg'%>
        </div>

    <!--- - - Description   -->
      <div class="details">
        <h2> More about Meat </h2>
        <p> Height: <%= @meat.height %> Weight: <%= @meat.weight %> </p>
        <p> Nationality: <%= @meat.nationality %> </p>
        <p> Occupation: <%= @meat.occupation %> </p>
        <p> Education: <%= @meat.education %> </p>
        <p> Hobbies: <%= @meat.hobbies %></p>

        <div class="description">
          <h2>  Meat Story </h2>
          <p> <%= @meat.description %> </p>
        </div>
      </div>
    </div>
   </span>
  </div>

</body>

